#headline {
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
}

#subhead {
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
} 

#button {
    font-weight: 700;
    font-style: normal;
    color:#ffffff;
} 