@media screen and (max-width: 325px) and (max-height: 55px) and (min-width: 315px) and (min-height: 45px) {

    #banner {
        width: 320px;
        height: 50px;
    }

    #logo{
        display: none;
        opacity: 0;
        left: 9px;
        width: 55px;
        height: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #logo_clr{
        display: none;
    }

    #image_1 img{
        position: absolute;
        width: 146px; 
        height: 50px;
        left:174px;
    }

    #text_cta{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 57px;
        width: 232px;
    }
    
    #headline{
        width: 105px;

        text-align: left;
        font-size: 13px;
        line-height: 15px;
    }
    
    #subhead{
        display: none;
    }

    .desktop_button {
        display: none; 
    }

    .mobile_button {
        left: 220px;
        top: 0px;
        margin: 0;
        position: absolute;
        top: 50%;
        width: 31px;
        height: 31px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    } 
    .mobile_button img{
        width: 31px;
        height: 31px; 
    }
    .img img{
        width: 100%;
    }
    .show_btn{
        opacity: 1;
    }
    #logo_walmartstar{
        top:6px;
        left: 10px;
        width: 33px;
        height: 38px;
        position: absolute;
    }
    #logo_walmart{
        display: none;
    }
}