#headline {
    font-weight: 700;
    font-style: normal;
    color:#CF561E;
}

#subhead {
    font-weight: 700;
    font-style: normal;
    color:#ffffff;
} 

#button {
    font-weight: 500;
    font-style: normal;
    color:#ffffff;
} 