/* ADD LINKED FONTS HERE */

/* @font-face {
	font-family: 'Whitney-bold';
	src:url('https://s0.2mdn.net/creatives/assets/4237895/Whitney-Bold_Web.woff2') format('woff2'),
		url('https://s0.2mdn.net/creatives/assets/4237895/Whitney-Bold_Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
} */