@media screen and (max-width: 733px) and (max-height: 95px) and (min-width: 723px) and (min-height: 85px) {

    #banner {
        width: 728px;
        height: 90px;
    }

    #image_1 img{
        width: 728px; 
        height: 90px;
    }
    
    #logo{
        left: 25px;
        width: 101px;
        height: 78px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    #text_cta{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 175px;
        width: 362px;
        text-align: left;
        text-transform: uppercase;
    }

    #headline {
        font-size: 32px;
        line-height: 33px;
        width: 240px;
    }

    #subhead{
        margin-top: 1px;
        font-size: 32px;
        line-height: 33px;
        width: 240px;
    }

    .desktop_button {
        right: 15px;
        padding: 11px 14px;
        position: absolute;
        border-radius: 50px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 16px;
    }
   
    .mobile_button {
        display: none;
    } 

    .img img{
        width: 100%;
    }
}